<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" width=1000>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Page Layout</title>
</head>

<body>
    <div class="book-app">
        <header class="book-app__header">
            <nav class="app-nav">
                <div class="app-nav__title">
                    <img src="../img/reading.png">
                    <span class="app-nav__title__name">MyBookApp</span>
                </div>
                <div class="app-nav__help">
                    <div class="app-nav__help__item">Help Center</div>
                    <div class="circle"></div>
                    <div class="app-nav__help__item">Our Support</div>
                </div>
                <div class="app-nav__user">
                    <img src="../img/avatar-01.png" class="avatar">
                    John Doe
                    <img src="../img/arrow-down.png" class="arrow-down">
                </div>
            </nav>
        </header>

        <main class="book-app__main">
            <aside class="app-sidebar">
                <div class="app-button__add">
                    <div class="app-button__add__background">
                        <img src="../img/plus.png" class="plus-icon">
                        <span class="app-button__add__text">ADD A BOOK</span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="app-sidebar__work">
                    <div class="app-sidebar__work__item">
                        <img src="../img/reading.png" class="bar-img">
                        Now Reading
                    </div>
                    <div class="app-sidebar__work__item">
                        <img src="../img/browser.png" class="bar-img">
                        Browse
                    </div>
                    <div class="app-sidebar__work__item">
                        <img src="../img/shop-cart.png" class="bar-img">
                        Buy Books
                    </div>
                    <div class="app-sidebar__work__item">
                        <img src="../img/star.png" class="bar-img">
                        Favourite Books
                    </div>
                    <div class="app-sidebar__work__item">
                        <img src="../img/list.png" class="bar-img">
                        Wishlist
                    </div>
                    <div class="app-sidebar__work__item">
                        <img src="../img/history.png" class="bar-img">
                        History
                    </div>
                </div>
                <div class="line"></div>
                <div class="app-sidebar__book-types">
                    <div class="app-sidebar__book-types__items">
                        Must Read Titles
                    </div>
                    <div class="app-sidebar__book-types__items">
                        Best Of List
                    </div>
                    <div class="app-sidebar__book-types__items">
                        Classic Novels
                    </div>
                    <div class="app-sidebar__book-types__items">
                        Non Fiction
                    </div>
                </div>
                <div class="line"></div>
                <div class="app-sidebar__history">
                    <div class="app-sidebar__history__item">
                        <img src="../img/history.png" class="history-img">
                        You added Fight Club by Chuck Palahniuk to your Must Read Titles.
                        <br><br>
                        24 minutes ago
                    </div>
                    <div class="app-sidebar__history__item">
                        <img src="../img/history.png" class="history-img">
                        You added The Trial by Franz Kafka to your Must Read Titles.
                        <br><br>
                        48 minutes ago
                    </div>
                </div>
            </aside>
            <div class="app-list-bar">
                <div class="app-top-bar">
                    <div class="app-top-bar__item">
                        Browse Available Books
                    </div>
                    <div class="app-top-bar__border"></div>
                    <div class="app-top-bar__options">
                        <div class="app-top-bar__options__item">
                            All Books
                        </div>
                        <div class="app-top-bar__options__item">
                            Most Recent
                        </div>
                        <div class="app-top-bar__options__item">
                            Most Popular
                        </div>
                        <div class="app-top-bar__options__item">
                            Free Books
                        </div>
                        <div class="app-top-bar__options__search">
                            <input type="text" class="search-box" placeholder="  Enter Keywords">
                            <img src="../img/search.png" class="search-icon">
                        </div>
                    </div>
                    <div class="app-top-bar__border"></div>
                </div>
                <div class="app-book-list">
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_1.png">
                        <div class="book-name">Jewels of Nizam</div>
                        <div class="book-author">by Geeta Devi</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_2.png">
                        <div class="book-name">Cakes & Bakes</div>
                        <div class="book-author">by Sanjeev Kapoor</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_3.png">
                        <div class="book-name">Jamie’s Kitchen</div>
                        <div class="book-author">by Jamie Oliver</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_4.png">
                        <div class="book-name">Inexpensive Family Meals</div>
                        <div class="book-author">by Simon Holst</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_5.png">
                        <div class="book-name">Paleo Slow Cooking</div>
                        <div class="book-author">by Chrissy Gower</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_6.png">
                        <div class="book-name">Cook Like an Italian</div>
                        <div class="book-author">by Tobie Puttock</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_7.png">
                        <div class="book-name">Suneeta Vaswani</div>
                        <div class="book-author">by Geeta Devi</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_8.png">
                        <div class="book-name">Jamie Does</div>
                        <div class="book-author">by Jamie Oliver</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_9.png">
                        <div class="book-name">Jamie’s italy</div>
                        <div class="book-author">by Jamie Oliver</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                    <div class="app-book-list__item">
                        <img class="book-cover" src="../img/book-cover_10.png">
                        <div class="book-name">Vegetables Cookbook</div>
                        <div class="book-author">by Matthew Biggs</div>
                        <div class="book-star-rate">
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                            <span class="star-rate-icon">★</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="book-app__footer">
            <div class="app-bottom-bar">
                <div class="app-bottom-bar__question">
                        <img src="../img/question-icon.png" class="question-icon">
                </div>
                <div class="app-bottom-bar__option">
                    <img src="../img/option-icon.png" class="question-icon">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>